#main{
    background-color: yellow;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 50px auto;
}
.eyes {
    top: 50px;
    left: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
    position: relative;

}
#right{
    margin-left: 50px;
}
#mouth{
    background-color: brown;
    width: 100px;
    height: 50px;
    border-radius: 0 0 35px 35px;
    position: absolute;
    top: 170px;
    left: 215px;
}

